* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue, Arial;
    font-size: 18px;

}
h1, h2 {
    color: #249609;
}
h1 {
    font-size: 40;
    margin-bottom: 20px;
}

h2 {
    font-size: 25;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px; 
    
}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}
